/* navbar small screen*/
#nav {
  overflow: hidden;
  background-color: purple;
  position: relative;
}
/* display links with hamburger or by resizing larger */
#nav #navLinks {
  display: none;
}

#nav a {
  color: white;
  padding: 15px 15px;
  text-decoration: none;
  display: block;
}

#nav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

#nav a:hover {
  background-color: #ddd;
  color: purple;
}

.homeLink {
  background-color: black;
  color: white;
}

/* navbar @media medium and large*/
@media screen and (min-width: 641px) {
  #nav {
    /* goal need links to be visiable after resize without refresh */
    display: flex;
    flex-flow: row wrap;
    position: relative;
    /* justify-content: end; */
  }
  #nav #homeLink {
    /* goal:move links to far right, leave homeLink left */
    display: flex;
  }

  #nav #navLinks {
    /* fix issues with resize after hamburger button*/
    display: flex;
    /* must be something else not working  */
    /* align-items: flex-end; */
  }

  /* hide hamburger */
  #nav a.icon {
    display: none;
  }
}

/* elements */
/* images will match whatever container width they are placed within */
img {
  width: 100%;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* main class id groups items  */
.container {
  width: 580px;
  margin: auto;
}

#home {
  background: white;
}
#about {
  background: blue;
}
#projects {
  background: lime;
}
#contact {
  background: red;
}

.card {
  border: 5px solid white;
}

/* display: flex acts like a block element -forces new line
display: inline-flex acts like an inline-block -padding over margin, doesnt force new line */

/* FOR PROJECTS SECTION */

.group {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 100px;
  justify-content: space-evenly;
}

/* group notes */
/* align-content:space-evenly;
stretch: (default) lines stretch to take up the remaining space
space-between: items are evenly distributed with the first line at the start and the last one at the end of the container.
space-around: items evenly distributed with equal space around each line.
space-evenly: items are evenly distributed with equal space around them. 

flex-flow: row nowrap; is the same as below and that is default
 flex-direction:row;
 flex-wrap:nowrap;  */

.item {
  flex: 0 1 auto;
  margin: 20px;
}
/* item notes
flex: takes 3 numbers: grow shrink basis -default below
flex:0 1 auto;
also takes align-self and order  */

/*@media*/

/* @media medium and large*/
@media screen and (min-width: 641px) {
  #nav {
    justify-content: center;
  }
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  li {
    padding: 10px 20px;
  }
  .group {
    flex-flow: row nowrap;
  }
  .item {
    width: 50%;
    float: left;
  }
}

/* @media medium only*/
/* to row view 2 per row*/
@media screen and (min-width: 641px) and (max-width: 1006px) {
  .group {
    flex: 1 0 46%;
    flex-flow: row nowrap;
  }
  .project {
    float: left;
  }
}

/* @media large only*/
/* */
/* moved this one up to med and large */
@media screen and (min-width: 1007px) {
  .group {
    flex: 1 0 23%;
    flex-flow: row nowrap;
  }
}
